@import '../assets/styles/styles.scss';

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light-silver);
    form {
        background: var(--white);
        max-width: 700px;
        width: 100%;
        margin: 5rem 0;
        padding: 4rem;
        box-shadow: var(--box-shadow);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        .form-group {
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
            label {
                font-size: 1.6rem;
                color: var(--text);
                margin-bottom: 1rem;
            }
            input, textarea {
                background: var(--light-silver);
                border: 1px solid var(--light-silver);
                padding: 1rem;
                outline: 0;
                border-radius: 3px;
                &:focus {
                    border-color: var(--accent);
                }
            }
            textarea {
                min-height: 20rem;
            }
        }
        .form-btn-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .btn {
                margin-left: 1rem;
            }
        }
    }
}