.title {
    &-underline {
        padding-bottom: 2rem;
        border-bottom: 1px solid var(--divider);
    }
}

.btn {
    border: 0;
    border-radius: 3px;
    padding: 1rem 2rem;
    font-weight: 700;
    cursor: pointer;
    &:hover {
        box-shadow: var(--box-shadow);
        transition: box-shadow 0.2s;
    }
    &-primary {
        background: var(--primary);
        color: whitesmoke;
    }
    &-secondary {
        border: 1px solid var(--secondary);
        background: var(--secondary);
        color: var(--white);
    }
    &-danger {
        border: 1px solid var(--error);
        background: white;
        color: var(--error);
    }
}

.text {
    &-error {
        color: var(--error);
    }
}

.calc {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    .modal {
       background: white;
       min-width: 30rem;
       border-radius: 0.3rem;
       padding: 5rem;
       box-shadow: var(--box-shadow);
       text-align: center;
       p {
           margin: 1rem 3rem 5rem;
       }
       .btn {
           margin: 0 1.5rem;
       }
    }
}